

.creator {
    font-weight: bold;
}

.icon {
    display: flex;
    float: left;
}

.listGroup {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    grid-template-columns: 100rem;
    
}

#list-item {
    text-align: left;
      
}

.link {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 30px;
    text-decoration: underline;
}

.comment {
    text-align: end;
   }

.dashboard {
    background-color: #ee4434;
    color: white;
    font-weight: 600;
    border: none;
    margin-right: 8.5rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px 10px;
   
} 

.navbar {
    background-color: #f3f3f3;
    width: 100%;
    height: 75px;
   }

.logo {
    width: 150px;
    height: 50px;
    margin-left: 8.5rem;
 }

 .search-student {
    display: inline;
 }