

/* ul {
 
  display: grid;
  grid-template-rows: auto;
  text-align: start;
  padding: 0.8em;
  margin: 0.8em;
  border-radius: 15px;
  border-style: groove;
  box-shadow: -4px 4px 15px 2px rgb(136, 156, 238);
  list-style: none;
  font-size: 1.3rem;

} */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: #fff;
	font-size: 30px;
	
}

.nav a {
	margin: 0 2rem;
	color: rosybrown;
	text-decoration: none;
}

.btn-out {
	border: none;
	background-color: red; 
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	/* margin-bottom: 1rem; */
}

.main{
	background-color: #fff;
}

.card{
	width: 50%;
}