
  .cardSize{
    width: 1081px;
    height: 297px;
  }
  
  .comment-body{
    height: 98px;
    background-color: #f3f3f3;
  }

  .Edit button{
    float: right;
    position: relative;
    bottom: 45px;
    background-color: #EE4434;
  }



  